---
	import '../styling/styles.scss'
	import NavBar from '../components/NavBar.astro';
	import Header from '../components/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="images/house.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Infinite Metropolis</title>
	</head>
	<body>
		<div id="gameHolder" class="flexRow">
			<NavBar />
			<div id="mainContentHolder" class="flexCol">
				<Header />
				<div id="testContainer" class="tabContent">Test Content</div>
			</div>
		</div>
	</body>
	<!-- Internals -->
	<script is:inline src="scripts/internal/BreakEternity.js"></script>
	<!-- Game Scripts -->
	<script is:inline src="scripts/main.js"></script>
	<script is:inline src="scripts/data.js"></script>
</html>
