<div id="resourceHeader" class="flexRow">
    <h3 id="populationText">Population: 30,000</h3>
    <div id="moneyHeaderHolder" class="flexCol">
        <h2 id="moneyText" class="greenText">1,000.00$</h2>
        <h3 id="moneyPerSecText" class="greenText">+10,000.00$/s</h3>
    </div>
</div>