<div id="navBar" class="flexCol">
    <button id="navButton0">Click Me!</button>
    <button id="navButton1">Click Me!</button>
    <button id="navButton0">Click Me!</button>
    <button id="navButton1">Click Me!</button>
</div>