<div id="zoningTab" class="tabContent">
    <h1>Zoning</h1>
    <div id="zoningRow" class="flexRow">
        <div id="residentialHolder" class="flexCol">
            <h3>Residential</h3>
            <img src="images/house.png">
            <p id="residentialZoneInfoText"></p>
        </div>
        <div id="commercialHolder" class="flexCol">
            <h3>Commercial</h3>
            <img src="images/store.png">
            <p id="commercialZoneInfoText"></p>
        </div>
        <div id="industrialHolder" class="flexCol">
            <h3>Industrial</h3>
            <img src="images/factory.png">
            <p id="industrialZoneInfoText"></p>
        </div>
    </div>
</div>