<div id="zoningTab" class="tabContent">
    <h3>Zoning</h3>
    <div id="zoningRow" class="flexRow">
        <div id="residentialHolder" class="flexCol">Residential</div>
        <div id="commercialHolder" class="flexCol">Commercial</div>
        <div id="industrialHolder" class="flexCol">Industrial</div>
    </div>
</div>